In [66]:
import pandas as pd
pd.options.display.max_rows = 10
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [10]:
!cat '../data/example/ex4.csv'

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
df = pd.read_csv('../data/example/ex4.csv', skiprows=[0, 2, 3])

In [12]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

If you want to only read a small number of rows (avoiding reading the entire file), specify that with nrows:

In [13]:
data = pd.read_csv('../data/example/ex6.csv', nrows=6)

In [14]:
data

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q

# How to Load a Massive File as small chunks in Pandas?

Pandas has a really nice option load a massive data frame and work with it. The solution to working with a massive file with thousands of lines is to load the file in smaller chunks and analyze with the smaller chunks.

In [41]:
# link to gapminder data as csv file
# from software carpentry website
csv_path='../data/example/ex6.csv'
# use chunk size 1000
chunk_size = 1000

In [42]:
# load the big file in smaller chunks
chunker = pd.read_csv(csv_path, chunksize=chunk_size)

In [43]:
chunker

The TextParser object returned by read_csv allows you to iterate over the parts of the file according to the chunksize. For example, we can iterate over ex6.csv, aggre‚Äê gating the value counts in the 'key' column like so

In [44]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

In [45]:
tot = tot.sort_values(ascending=False)

In [46]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

Let us use pd.read_csv to read the csv file in chunks of 500 lines with chunksize=1000 option. The code below prints the shape of the each smaller chunk data frame.

In [26]:
for chunck in pd.read_csv(csv_path, chunksize=c_size):
    print(chunck.shape)

(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)
(1000, 5)

Note that all the chunks are of size 1000 lines

let us read the CSV file in chunks of 1000 lines and compute the number entries (or rows) per each key in the data set.

Let us use defaultdict from collections to keep a counter of number of rows per continent.

In [36]:
from collections import defaultdict
continent_dict = defaultdict(int)

In [37]:
csv_url='http://bit.ly/2cLzoxH'
# use chunk size 500
c_size = 500

In [38]:
for gm_chunk in pd.read_csv(csv_url,chunksize=500):
    for c in gm_chunk['continent']:
        continent_dict[c] +=1

In [39]:
continent_dict

defaultdict(int,
            {'Asia': 396,
             'Europe': 360,
             'Africa': 624,
             'Americas': 300,
             'Oceania': 24})

In [40]:
key_dict = defaultdict(int)

In [47]:
for chunk in pd.read_csv(csv_path, chunksize=chunk_size):
    for c in chunck['key']:
        key_dict[c] +=1

In [51]:
type(key_dict)

collections.defaultdict

In [52]:
hash(key_dict)

TypeError: unhashable type: 'collections.defaultdict'

In [54]:
key_dict

defaultdict(int,
            {'B': 330,
             'M': 410,
             'N': 290,
             'Y': 380,
             '0': 170,
             'R': 340,
             '3': 260,
             'C': 280,
             'D': 250,
             'U': 390,
             '6': 220,
             'L': 300,
             'I': 330,
             'E': 350,
             'X': 280,
             'K': 420,
             'Q': 340,
             '5': 150,
             '9': 150,
             'P': 380,
             'Z': 310,
             'W': 280,
             'F': 330,
             'S': 290,
             'G': 310,
             'A': 320,
             'H': 330,
             'O': 190,
             'T': 330,
             '4': 210,
             'J': 290,
             '8': 150,
             '2': 150,
             'V': 230,
             '7': 140,
             '1': 120})

# JSON Data

In [55]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
              "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [56]:
import json

In [57]:
result = json.loads(obj)

In [58]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

json.dumps, on the other hand, converts a Python object back to JSON:

In [59]:
asjson = json.dumps(result)

In [60]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [61]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [62]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [71]:
#frame = pd.read_excel('../data/raw/compta/accounting_data.xlsx', 'data')

In [72]:
#frame.head()